{
  "arrowParens": "always",
  "printWidth": 120,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "consistent"
}
